<div class="cards-wrapper pd-50">
  <div class="cards-content">
    <h3 class="text-center">Recent flats</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Shanghai, China</div>
            <div class="card-description">
              <h2>Alexandre's home</h2>
              <p>Modern small apartment in Shanghai</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/aroubaud">
            <a class="card-link" href="flats/aroubaud.html" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
            <div class="card-category">Berlin, Germany</div>
            <div class="card-description">
              <h2>Serge's home</h2>
              <p>Spacious apartment in downtown Berlin</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/leclers">
            <a class="card-link" href="flats/leclers.html" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
            <div class="card-category">Paris, France</div>
            <div class="card-description">
              <h2>Camille's home</h2>
              <p>Charming room in Montmartre</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/camvillard">
            <a class="card-link" href="flats/camvillard.html" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
